*{
box-sizing:border-box;
}
body{
font-family:arial;
display:flex;
flex-direction:column;
margin:0;
}
a{
text-decoration:none;
}
header{
background-image:url("coronaimage4.jpg");
background-size:contain;
display:flex;
align-items:center;
padding:0px 0px;
}
header ul{
list-style:none;
display:flex;
padding:0px;
margin:0px;
}
header a{
color:#fff;
}
#logo{
margin:0 auto;
padding:0px 0px;
font-size:30px;
}
.covid{
color:red;
border-radius:8px;
animation:name 3s alternate infinite;
}
@keyframes name{
0%{ background-color:grey ;}
20%{background-color:blue ;}
40%{background-color:purple ;}
60%{background-color:pink;}
90%{background-color:acqua;}
}


#menu li{
padding:10px;
}
#social-links li{ 
padding:10px;
}

li:hover{
color:#0099cc;
}
#main{
display:flex;
}

#menu li:hover {
  background-color: #0099cc;
}

aside{
padding:10px;
flex:0 0 20vw;
background:#33b5e5;
}
aside ul{
list-style:none;
padding:0;
}
aside ul a{
color:red;
padding:10px;
display:block;
border-bottom:1px solid grey;
}
aside ul a:hover{
background:#00ffff;
}
aside img{
width:100%;
}
article{
padding:15px;
}
.service-container{
display:flex;
//flex-wrap:wrap;
justify-content:space-between;
}
.service-box{
border:1px solid #eee;
flex-basis:35%;
max-width:370px;
padding:10px;
margin-bottom:15x;
display:flex;
flex-direction:column;
}
.service-box img{
width:100%;
}
.service-box h3{
margin:5px 0 10px;
}
.service-box p{
margin:0 0 10px;
}
.call-to-action{
align-self:flex-start;
margin-top:auto;
}
.call-to-action a{
background:grey;
border:2px solid transparent;
color:#fff;
padding:8px 17px;
display:block;
}
.call-to-action a:hover{
background:blue;
border:2px solid grey;
}
 footer{
background:#0000ff;
color:white;
text-align:center;
padding:15px 0px;
}
@media screen and(max width:850px){
.service-box{
flex-basis:48%;

}
aside{
flex:0 0 35vw;
}
}
@media screen and(max width:600px){
header{
flex-direction:column;
}
#logo{
order=-1;
}
#main{
flex-direction:column;
}
article{
order:-1;
}
.service-container{
flex-direction:column;
align-items:center;
}
h2{
text-align:center;
}
}





